#divContainer{
    display: flex;
    flex-direction: column;
}
.innerContainer {
    display: flex;
    flex-direction: row;
}
.list{
    margin: 2%;
   padding: 3%;
}
@media screen and (max-width:600px){
    .innerContainer{
        display: flex;
        flex-direction: column;
    }
}