#divContainer{
    display: flex;
    flex-direction: column;
}
.innerContainer {
    display: flex;
    flex-direction: row;
}
.list{
    margin: 2%;
   padding: 3%;
}


.headerfooter{
    background-color: grey;
    width: 100%;
    z-index: 100;
    height: 40px;
    color: aqua;
    z-index: 10000;
}
#menu{
    width: 60px;
}
#menuCard{
    height: 100vh;
    width: 200px;
}

.noDisp{
    display: none;
    color: aliceblue;
}
disp{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

#clearCart{
    cursor: pointer;
}

#pastOrders{
    cursor: pointer;
}

#lastOrder{
    cursor: pointer;
}

#tictactoe {
    cursor: pointer;
}

@media screen and (max-width:600px){
    .innerContainer{
        display: flex;
        flex-direction: column;
        margin: 2%;
    }
    .list{
        margin: 3%;
    }
}
